h1,
footer,
.find-city {
  text-align: center;
  margin: 0;
}
.find-city {
  margin: 10px 0 0;
}
.current-date {
  text-align: center;
}
.current-weather {
  text-align: center;
}
.current-temperature {
  font-size: 95px;
}
.current-condition {
  position: relative;
  left: 540px;
  font-size: 15px;
}
