h1,
.find-city {
  text-align: center;
  margin: 0;
}

.find-city {
  position: relative;
  left: 10px;
  margin: 10px 0 0;
  text-align: center;
}
.enter-city {
  background: whitesmoke;
  border: 1px solid #b5c3e0;
  border-radius: 15px;
  color: black;
  padding: 6px;
  font-weight: bold;
}
.search-city {
  background: white;
  transition: all 200ms ease-in-out;
}
.search-city:hover {
  background: #b5c3e0;
  color: white;
  cursor: pointer;
}
footer {
  text-align: center;
  margin: 40px 20px;
  padding: 20px;
}
.current-date {
  text-align: center;
  margin: 0;
}
.current-weather {
  position: relative;
  left: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.current-temperature {
  font-size: 95px;
}
.current-condition {
  position: relative;
  left: 250px;
  font-size: 15px;
  margin: 0 0 30px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.humidity-wind {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 20px; /* Optional: Adds space between the humidity and wind sections */
  border: 1px solid #e8e6fe;
  border-radius: 40px;
  max-width: 250px;
  margin: 0 auto;
  padding: 10px 0;
  background: rgb(245, 245, 245, 0.5);
}
.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-aligns the text within each section */
}
.humidity-value,
.wind-value {
  font-weight: bolder;
}
.humidity-icon,
.wind-icon {
  font-size: 25px;
}
.mainBody {
  background: rgb(245, 245, 245, 0.2);
  max-width: 700px;
  margin: 10px auto;
  border: 1px solid #7d6fb7;
  border-radius: 15px;
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(102, 51, 153) 11.2%,
    rgb(69, 179, 224) 100.1%
  );
}
.current-emoji {
  position: relative;
  bottom: -40px;
  right: 39px;
  font-size: 80px;
}
a {
  color: navy;
}
.theme {
  background: black;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #663399;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}
.theme:hover {
  background: white;
  color: black;
}
.dark {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
.dark .mainBody {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
