h1,
footer,
.find-city {
  text-align: center;
  margin: 0;
}
.find-city {
  margin: 10px 0 0;
}
.current-date {
  text-align: center;
}
.current-weather {
  text-align: center;
}
.current-temperature {
  font-size: 95px;
}
.current-condition {
  position: relative;
  left: 520px;
  font-size: 15px;
}
.humidity-wind {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 20px; /* Optional: Adds space between the humidity and wind sections */
}
.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-aligns the text within each section */
}
